@font-face {
    font-family: Avenir;
    src: url('avenir.otf');
}
@font-face {
    font-family: Roboto;
    src: url('roboto.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}
h1 {
    padding: 7vh;
    color: black;
    font-size: 5vw;
    font-family: Roboto;
    text-align: center;
}

#s1 {
    background: url('rise.jpg') no-repeat fixed;
    background-size: cover;
    text-align: center;
    max-height: 100vh;
    .cover {
        background-color: darkslategrey;
        width: 30vw;
        height: 100vh;
        opacity: 0.95;
        -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    }
    h1 {
        color: #fff;
        padding-top: 5vh;
        font-family: Avenir;
    }
    img {
        width: 15vw;
        padding-top: 25vh;
    }
    a {
        text-decoration: none;
        text-decoration-color: white;
        :hover {
            color: darkslategray;
            background-color: white;
        }
        h1 {
            padding: 5px;
            text-align: left;
            font-size: 20px;
        }
    }
}

#inter {
    background: #c7c7c7;
    -webkit-clip-path: polygon(0 95%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 95%, 100% 0, 100% 100%, 0 100%);
    opacity: 0.85;
    margin-top: -10vh;
    height: 10vh;
}

#s2 {
    width: 80vw;
    margin: auto;
    min-height: 65vh;
    padding: 0 2%;
    p {
        font-family: Roboto;
        font-size: 24px;
    }
    border-bottom: 1px solid #bdbdbd;
}

#s3 {
    width: 100vw;
    text-align: center;
    .card {
        width: 23vw;
        height: 70vh;
        border: 1px solid #c7c7c7;
        box-shadow: 2px 4px 12px #c7c7c7;
        margin: 12px;
        float: left;
        border-radius: 2px;
        margin-bottom: 100px;
        h1 {
            margin: 0;
            padding: 1vh;
            font-size: 3vw;
            color: #555555;
        }
        p {
            font-size: 16px;
        }
    }
    p {
        margin: 0 5% 5% 5%;
        font-family: Roboto;
        font-size: 2.2vw;
      }
}

#s4 {
    text-align: center;
    .profilePic {
        background-color: #cccccc;
        margin: 20px auto;
        border-radius: 900px;
        width: 80%;
    }
    .profilePicDir {
        width: 16vw;
        height: 16vw;
    }
    h3 {
        font-family: Avenir;
    }
    .pTitle {
        font-size: 20px;
        color: #c7c7c7;
        text-align: center;
    }
    .associate {
        margin-top: 20px;
    }
    .row {
        width:100vw;
        height: 40vh;
    }
    .col-6 { width: 50%; float: left; }
    .col-4 { width: 33.33%; float: left; }
}